* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #1C1C1C;
}

.container {
    background-color: #1F2937;
    width: 550px;
    height: 550px;
    margin: 90px auto;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.25rem;
    padding: 10em 2em;
}

span {
    color: #4ADF86;
    display: block;
    margin: 0;
    line-height: .95;
}

.title {
    display: flex;
    flex-direction: column;
}

h3 {
    color: #D5D4D8;
    margin-top: .65em;
    font-weight: bold;
}

.btn {
    margin-top: 2em;
    background-color: #059669;
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #D1D5DB;
    color: #059669;
    cursor: pointer;
}

.btn:active {
    position: relative;
    top: 2px;
}

.border {
    width: 100%;
    border: 1px solid #2F3E53;
    margin-top: 2em;
}

.passwords {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
}

.password {
    background-color: #273549;
    padding: .5em 0;
    margin-top: 1em;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #4ADF86;
    width: 225px;
    height: 39px;
    text-align: center;
    border: none;
    overflow: hidden;
    resize: none;
}

.copy {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.copy-btn {
    background-color: #059669;
    margin-top: 15px;
    padding: .5em 1em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    border-radius: 10px; 
}

.copy-btn:hover {
    background-color: #D1D5DB;
    color: #059669;
    cursor: pointer;
}

.copy-btn:active {
    position: relative;
    top: 2px;
}