* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #1C1C1C;
}

.container-background {
    background-color: #1F2937;
    width: 480px;
    margin: 90px auto;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.25rem;
    padding: 1em 2em;
}

span {
    color: #4ADF86;
    display: block;
    margin: 0;
    line-height: .95;
}

.title {
    display: flex;
    flex-direction: column;
}

h3 {
    color: #D5D4D8;
    margin-top: .65em;
    font-weight: bold;
}

.options {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.options {
    width: 100%;
}

.password-control {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

#length-el {
    width: 60px;
}

.generate-btn {
    background-color: #059669;
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: .5em 1em;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.generate-btn:hover {
    background-color: #D1D5DB;
    color: #059669;
    cursor: pointer;
}

.generate-btn:active {
    position: relative;
    top: 2px;
}

.border {
    width: 100%;
    border: 1px solid #2F3E53;
    margin-top: 1em;
}

.password-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.password {
    background-color: #273549;
    padding: .4em;
    margin-top: 1em;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #4ADF86;
    width: 275px;
    height: 39px;
    text-align: center;
    border: none;
    overflow: hidden;
    resize: none;
}

.copy-btn {
    background-color: #059669;
    margin-top: 15px;
    padding: .5em 1em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffffff;
    border-radius: 10px;
    border: none;
}

.copy-btn:hover {
    background-color: #D1D5DB;
    color: #059669;
    cursor: pointer;
}

.copy-btn:active {
    position: relative;
    top: 2px;
}